* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 90%;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.HNuqWV_uWakgJUuTljgHAQHaFj&pid=Api&P=0);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.heading1 {

    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 8vmax;
    color: #fff;
    text-shadow: 1px 1px 4px black;
    font-family: Helvetica;
}

h6 {
    letter-spacing: 0.5vmax;

}

h1 {
    font-size: 4vmax;
    margin-top: 2vmax;
}

h3 {
    letter-spacing: 1vmax;
    font-size: 15px;
    margin-top: 2vmax;
}

h2 {
    margin-top: 5vmax;
    font-size: 15px;
}

h4 {
    letter-spacing: 1vmax;
    margin-top: 1vmax;
}

section {
    width: 100%;
    height: 100%;
    padding: 2vmax 1vmax;
    font-family: Helvetica;

}

.heading2 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 2vmax;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.heading2 li {
    list-style: none;
    text-align: center;
    align-items: center;
}

.heading2 li a {
    color: #000;
    transition: 0.25s;
}

.heading2 li a:hover {
    color: blue;
}

.had {
    border: 3px solid black;
    font-size: 35px;
    font-weight: 600;
    padding: 0.8vmax 1vmax;
    text-align: center;
}

.had:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.hads {
    justify-content: center;
    text-align: center;
    align-items: center;
}
.ri-separator{
    font-size: 5vmax;
}

.hads h1 {
    margin-top: 3vmax;
}

p {
    margin-top: 3vmax;
}

.icon {
    font-size: 3vmax;
    display: flex;
    justify-content: space-around;
    /* padding-left: 2vmax; */
    margin-top: 8vmax;
    transition: 0.25s;
}


.div1 {
    display: flex;
    justify-content: space-around;
    margin-top: 2vmax;
}

.ho {
    background-color: #000;
    width: 8%;
}

.div2 {
    display: flex;
    margin-left: 2.5vmax;
    justify-content: space-around;
    margin-top: 2vmax;
    
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: black;
}
.left{
    width: 30%;
    margin-left: 5vmax;
    padding-top: 5vmax;
    
}
.div6{
    font-size: 50px;
    color: #fff;
}
.div7{
    font-size: 20px;
    margin-top: 3vmax;
    color: #fff;
}
button{
    padding: 1vmax 2vmax;
    margin-top: 2vmax;
    background-color: aqua;
    border: none;
    transition: 0.25s;
}
button:hover{
    transform: scale(1.2);
}

.right {
    width: 60%;
    display: flex;
    margin-left: 10%;
    margin-top: 5vmax;
    
}

img {
    
    justify-content: center;
    display: flex;
    
    width: 15vmax;
    color: #fff;
    
    
    
}

















@media (max-width:600px) {
    nav {
        width: 100%;
        height: 60%;
        background-image: url(https://tse4.mm.bing.net/th?id=OIP.HNuqWV_uWakgJUuTljgHAQHaFj&pid=Api&P=0);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

    .heading1 {

        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 8vmax;
        color: #fff;
        text-shadow: 1px 1px 2px black;
        font-family: Helvetica;
    }

    h6 {
        letter-spacing: 0.5vmax;

    }

    h1 {
        font-size: 4vmax;
        margin-top: 2vmax;
    }

    h3 {
        letter-spacing: 1vmax;
        font-size: 15px;
        margin-top: 2vmax;
    }

    h2 {
        margin-top: 5vmax;
        font-size: 15px;
    }

    h4 {
        letter-spacing: 1vmax;
        margin-top: 1vmax;
    }

    section {
        width: 100%;
        height: 60%;
        padding: 2vmax 1vmax;
        font-family: Helvetica;

    }

    .heading2 {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding-left: 0.2vmax;
        color: #000;
        font-size: 10px;
        font-weight: 300;
        color: black;
    }

    .heading2 li {
        list-style: none;
        text-align: center;
        align-items: center;
    }

    .heading2 li a {
        color: #000;
        transition: 0.25s;
    }

    .heading2 li a:hover {
        color: blue;
    }

    .had {
        border: 3px solid black;
        font-size: 10px;
        font-weight: 800;
        padding: 0.8vmax 1vmax;
        text-align: center;
    }

    .had:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .hads {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .hads h1 {
        margin-top: 5vmax;
        font-size: 2vmax;
    }
    
    p {
        margin-top: 3vmax;
    }

    .icon {
        font-size: 2vmax;
        display: flex;
        justify-content: space-around;
        margin-top: 8vmax;
    }

    .div1 {
        display: flex;
        justify-content: space-around;
        margin-top: 2vmax;
    }

    .ho {
        background-color: #000;
        width: 2%;
    }

    .div2 {
        display: flex;

        justify-content: space-around;
        text-align: center;
        align-items: center;
        margin-top: 2vmax;
    }
    main {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    .left{
        width: 50%;
        margin-left: 15vmax;
        padding-top: 5vmax;
        
    }
    .div6{
        font-size: 23px;
        color: #fff;
    }
    .div7{
        font-size: 10px;
        margin-top: 3vmax;
        color: #fff;
    }
    button{
        padding: 1vmax 1vmax;
        margin-top: 2vmax;
        background-color: aqua;
        border: none;
    }
    button:hover{
        transform: scale(1.2);
    }
    
    .right {
        width: 60%;
        display: flex;
        margin-left: 20%;
        margin-top: 5vmax;
        
    }
    
    img {
        
        justify-content: center;
        display: flex;
        
        width: 10vmax;
        color: #fff;
    }




}